* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: #c6cdf1;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 333px;
    height: 500px;
    border-radius: 10px;
    background: #EBECF1;
    padding: 20px;
    box-shadow: 8.5px 8.5px 14px #CBCBCB,
        -8.5px -8.5px 14px #FFFFFF;
}

.calculator input {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    font-size: 30px;
    padding: 0 9px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #EBECF1;
    box-shadow: inset 4.5px 4.5px 3px #CBCBCB, inset -4.5px -4.5px 3px #FFFFFF;
    text-align: right;
    pointer-events: none;
    overflow: hidden;
}

.calculator .calc {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.calc .num {
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    box-shadow: 3.5px 3.5px 9px #CBCBCB,
        -4.5px -4.5px 9px #FFFFFF;
}

.calc .num:active:not(.equal) {
    box-shadow: inset 5px 5px 4px #CBCBCB,
        inset -3px -3px 4px #FFFFFF;
    color: #ff1212;
}

.calc .equal {
    grid-column: 3/5;
    box-shadow: 5.5px 5.5px 10px #8694a3,
        -4.5px -4.5px 9px #ffffff;
    background-color: #009CDF;
    color: #FFFFFF;
    font-size: 40px;
}


.calc .equal:active {
    box-shadow: inset 5px 5px 4px #3277c2,
        inset -3px -3px 4px #89daff;
}

.operator {
    color: #009CDF;
}

.pointer {
    pointer-events: none;
    color: #ff4112;
}


.diviv {
    width: 50px;
    height: 50px;
    margin-right: 500px ;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}